@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0px;
}

img {
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
}

#menu1 {
    background-color: #731B14;
    margin: 0px;
    width: 100%;
}

a {
    font-family: open sans, monospace, 'Courier New', Courier;
    text-align: right;
    color: white;
    margin-right: 50px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    display: inline-block;
    text-decoration: underline;
    color: #dab18d;
    transition-duration: 0.2s;
}
header {

    max-width: 2000px;
}

span.box {
    width: 700px;
    height: 500px;

}
.div1 {
    width: 1300px;
    height: 300px;
    background-color: rgba(211, 211, 211, 0.5);
    margin-top: 20px;
    margin-left: 35px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.014);
    box-shadow: 0px 0px 5px #0000002f;
}
.div1 > img {
    display: inline-block;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.61);
    
}

.div02 {
    background-image: url(imagens/verboo.jpg);
    width: 1300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    opacity: 0.9;
    background-attachment: fixed;

}

.div03 {
    background-color: rgba(219, 219, 33, 0.418);
    width: 1300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    background-attachment: scroll;
       
}
.minidiv{
    height: 270px;
    width: 250px;
    
    display: inline-block;
    margin: 18px 34px;
    border-radius: 10px;
}
.img{
    height: 250px;
    width: 280px;
    background-color: rgba(0, 0, 139, 0.274);
    display: inline-block;
    margin: 25px 50px 20px 100px;
    border-radius: 5px;
}
.img > p {
    text-align: center;   
}


