@charset "utf-8";
body{
    background-color: rgb(109, 109, 109)
}

h1{
    color: white;
    text-align: center;
}
p{
    text-align: center;
    
}
main{
    width: 600px;
    background-color: white;
}

